.ratings-container {
    display: flex;}

.rating{
    margin-top: 15px;
    height: 50px;
    width: auto;
    margin-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Merriweather';
    font-size: 14px;
}

.rating img {
    height: 18px;
}

.rating img:hover {
    cursor: pointer;
}

.rating span {
    margin-left: 15px;
}